<div id="<%= dom_id payroll %>">
  <p>
    <strong>Basic salary:</strong>
    <%= payroll.basic_salary %>
  </p>

  <p>
    <strong>Allowance:</strong>
    <%= payroll.allowance %>
  </p>

  <p>
    <strong>Taxable income:</strong>
    <%= payroll.taxable_income %>
  </p>

  <p>
    <strong>Pension tier1:</strong>
    <%= payroll.pension_tier1 %>
  </p>

  <p>
    <strong>Pension tier2:</strong>
    <%= payroll.pension_tier2 %>
  </p>

  <p>
    <strong>Pension tier3:</strong>
    <%= payroll.pension_tier3 %>
  </p>

  <p>
    <strong>Income tax:</strong>
    <%= payroll.income_tax %>
  </p>

  <p>
    <strong>Net pay:</strong>
    <%= payroll.net_pay %>
  </p>

</div>
